*{
    padding: 0%;
    margin: 0%;
}
header {
    background: rgba(0,0,0,0.5);
    width: 99.3%;
    position: fixed;
    z-index: 100;
    border: 5px solid blue;
  }

div.headerHome{
    float: left;
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;

}
div.headerMenu{
    float: right;
    display: block;
    border: 5px solid red;
    align-items: center;
}
div.headerHome>a{
    display: block;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 20px;

}

div.headerHome > img{
    width: 50px;
    display: block;
    margin: 5px;
}

  nav.headerMenu > ul {
    list-style: none;
    overflow: hidden; /* Limpiamos errores de float */
  }
  nav.headerMenu>ul>li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
   
  nav.headerMenu>ul>li>a {
    display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
    padding: 15px;
    color: #fff;
    text-decoration: none;
  }
   
  nav>ul>li:hover {
    background: #3ead47;
  }